body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  max-width: 600px;
  margin: 0 auto;
  padding: 0 5px;
}

#container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-template-columns:  */
  grid-template-areas:
    "location location location"
    ". weather ."
    "previous weather next"
    ". weather .";

    border: 1px solid #000;
    box-sizing: border-box;
    padding-bottom: 10px;
}
#location{
  grid-area: location;
  text-align: center;
  width: 100%;

  margin: 0;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
}
#weather{
  grid-area: weather;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#icon{
  max-width: 200px;
}
/*-------------------------*/

#previous, #next{
  margin: 0 auto;
}
#previous{
  grid-area: previous;
  height: 40px;
}
#next{
  grid-area: next;
  height: 40px;
}
#reset{
  grid-area: reset;
  height: 20px;
}
#previous:hover,#next:hover,#reset:hover{
  cursor: pointer;
}

/*-------------------------*/
#forecast{
  display: flex;
  overflow-x: scroll;

  background-color: #000;
  color: #fff;
}
.forecast-subsection{
  text-align: center;
  flex: 0 0 150px;
}
/*--------------------------*/

#units{
  display: grid;
  grid-template-areas: "fahrenheit celcius";
  width: 200px;
  border: 1px solid #000;
}
#units button{
  outline: none;
  border: none;
  background-color: #fff;
  color: #000;
}
#units button.active{
  background-color: #000;
  color: #fff;
}
/*--------------------------*/
